{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}
<section class="contact-section">
            <div class="container">
 
                <div class="row">
                
    <h1>Réinitialisez votre mot de passe</h1>

    {{ form_start(resetForm) }}
    <br><br>
        {{ form_row(resetForm.plainPassword) }}
        <button class="btn btn-primary">Réinitialiser le mot de passe</button>
    {{ form_end(resetForm) }}
    </div></div></section>
{% endblock %}
