{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}



{% block body %}
<div class="site-section site-section-sm pb-0">
      <div class="container">
        <div class="row">
          <form class="form-search col-md-12" style="margin-top: -100px;">
           {{ form_start(form)}}
            <div class="row  align-items-end">
            <div class="col-md-3">
                <div class="select-wrap">
                  {{ form_row(form.budgetMin, {'attr': {'class': 'form-control d-block rounded-0'}}) }}
                </div>
              </div>
            
              <div class="col-md-3">

    <input type="submit"/>
              </div>
            </div>
            {{ form_end(form)}}
          </form>
        </div>  
       
      </div>
    </div>
    {% endblock %}