{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block title %}Hello ArticleController!{% endblock %}

{% block body %}
<section class="contact-section">
            <div class="container">
 
                <div class="row">
                    <div class="col-12">
<h1>Remplir votre annonce confier</h1>
<br>
{{ form_start(form)}}
{{form_widget(form)}}
<div class="col-md-12 col-lg-12 mb-3 mb-md-0">
</div>
<button class="btn btn-success">Envoyer</button>
{{ form_end(form)}}
</div></div></div>
</section>
{% endblock %}